.pointer {
	cursor: pointer;
}

.inf-card {
	@extend .pointer;
	height: 350px;
	width: 300px;
	border-radius: 20px;
	background: rgba(0,0,0,.8);
	margin: auto;
	color: white;
	display: block;
}

.inf-card h1 {
	margin: 5px 0;
}