
@import "../_variables.scss";

//host is the name of the current app selector
:host {
	font-family: 'Playfair Display', 'Roboto', 'Open Sans', sans-serif;
	background-color: rgb(156,156,156);
	background-color: $black;
}

.navbar{
	background-color: $dark-blue;
	border: solid $dark-blue;
}


#inf-mobile-nav {
	display: block;
}


#inf-nav {
	display: none;
}

@media (min-width: 576px) { 


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#inf-mobile-nav {
		display: none;
	}


	#inf-nav {
		display: block;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }


