	<video autoplay loop id="video-background" muted plays-inline poster="./assets/milky-way.png" > 
		<!-- <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4"> -->
			<source src="./assets/milky-way.mp4" type="video/mp4" *ngIf="appWidth > 767">
	</video>
	<header class="fixed-top inf-header">
		<img src="./assets/infinium-lab.png">
	</header>

	<div class="container text-center">
		<div class="row">
			<span class="col-md-4" *ngFor="let card of deck" routerLink="{{card.url}}">
				<app-card [cardInfo]="card"></app-card>
			</span>
			
		</div> 
	</div>