
section {
	z-index: 1;
}


/* The only rule that matters */
#video-background {
	/*  making the video fullscreen  */
	position: fixed;
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: -100;
}

.pointer {
	cursor: pointer;
}

.inf-header img{
	height: 96px;
	margin: 10px 20px;
	border-radius: 13px;
	background-color: rgba(33,33,33,0.65);
}

@media (min-width: 576px) { 


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }